Microsoft.Flow/flows/30ebbee9-be21-4198-a490-d6ffebe8cb32/definition.json
{"name":"ec80c879-e165-4bc6-807b-5905d96963ac","id":"/providers/Microsoft.Flow/flows/ec80c879-e165-4bc6-807b-5905d96963ac","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"fluxo_rac","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"ed8ae461-764d-4596-9a87-c901a9e45301","type":"User","tenantId":"7893571b-6c2c-4cef-b4da-7d4b266a0626"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-04-11T13:10:13.3560522Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6179e9d4-4f1d-44e3-8a66-8acdc43e81db"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"id_sp","type":"string","x-ms-dynamically-added":true,"description":"id_sharepoint","x-ms-content-hint":"TEXT"},"text_1":{"title":"email_solicitante","type":"string","x-ms-dynamically-added":true,"description":"email solicitante","x-ms-content-hint":"TEXT"},"text_2":{"title":"nome_solicitante","type":"string","x-ms-dynamically-added":true,"description":"nome solicitante","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Var_Scope":{"actions":{"id_sp":{"runAfter":{},"metadata":{"operationMetadataId":"1b52c8f0-ebce-4f77-9cc9-883ce0d1cf26"},"type":"Compose","inputs":"@triggerBody()['text']"},"emailSolicitante":{"runAfter":{"id_sp":["Succeeded"]},"metadata":{"operationMetadataId":"8d5e74ce-0823-4baf-9967-c1b56f8af62f"},"type":"Compose","inputs":"@triggerBody()['text_1']"},"nomeSolicitante":{"runAfter":{"emailSolicitante":["Succeeded"]},"metadata":{"operationMetadataId":"9feeaf59-aca2-401b-a23a-4e9c846960f4"},"type":"Compose","inputs":"@triggerBody()['text_2']"},"Get_item":{"runAfter":{"nomeSolicitante":["Succeeded"]},"metadata":{"operationMetadataId":"c01edf3c-8391-416f-ab2d-809de01e9b31"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"reprogramacao":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"2dcc3fbe-5c8a-457a-9574-7a51474c0783"},"type":"Compose","inputs":"@if(equals(outputs('Get_item')?['body/reprogamacao'],'0'),'Não','Sim')"},"Compose":{"runAfter":{"reprogramacao":["Succeeded"]},"metadata":{"operationMetadataId":"a4ef3dbf-cb5a-43bc-b708-cd757e3646d5"},"type":"Compose","inputs":"@outputs('reprogramacao')"}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a1d67e06-70ae-4753-bd52-2e0ae36ef1fd"},"type":"Scope"},"attachs":{"runAfter":{},"metadata":{"operationMetadataId":"1f81d455-9241-411d-822d-f947413f5d3f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"attachs","type":"array"}]}},"Attach_Scope":{"actions":{"Get_attachments":{"runAfter":{},"metadata":{"operationMetadataId":"2e11f0c0-014c-4a5e-9aa6-f30e94ec5680"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","itemId":"@outputs('id_sp')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@body('Get_attachments')","actions":{"Get_attachment_content":{"runAfter":{},"metadata":{"operationMetadataId":"8936cf9b-96a1-48c3-8c7f-9031871bd7d5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","itemId":"@outputs('id_sp')","attachmentId":"@items('Apply_to_each')?['Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Append_to_array_variable":{"runAfter":{"Get_attachment_content":["Succeeded"]},"metadata":{"operationMetadataId":"5b879f4d-c29d-474b-b258-781d034730fe"},"type":"AppendToArrayVariable","inputs":{"name":"attachs","value":{"name":"@items('Apply_to_each')?['DisplayName']","content":"@body('Get_attachment_content')"}}}},"runAfter":{"Get_attachments":["Succeeded"]},"metadata":{"operationMetadataId":"ba4a6e38-0a72-4072-bf68-9c1e9ae9afb9"},"type":"Foreach"}},"runAfter":{"Var_Scope":["Succeeded"]},"metadata":{"operationMetadataId":"b7e67214-089e-4879-859f-1a5700c0b1e1"},"type":"Scope"},"Aprovacao_Oper_Scope":{"actions":{"Create_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"122bb7b9-8292-447e-9bca-5aa322f99b80"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"- Fluxo de Exceção RAC - Operação","ApprovalCreationInput/assignedTo":"@{outputs('Get_item')?['body/aprovador_oper/Email']};","ApprovalCreationInput/details":"# Olá,\n## Prezado(a), está é uma solicitação de exceção de Fluxo de Rac.\n\n_Segue abaixo as informações necessárias para aprovação:_\n\n|  |  |\n| ------ | ------ |\n| Email Gerente Solicitante | @{outputs('Get_item')?['body/gerente_solicitante/Email']} |\n| RAC | @{outputs('Get_item')?['body/requisito_id_x003a_rac_id_pt/Value']} |\n| Item do Requisito | @{outputs('Get_item')?['body/requisito_id/Value']} |\n| Data de Validade da Exceção | @{outputs('Get_item')?['body/validade_excecao']} |\n| ID das Ações | @{outputs('Get_item')?['body/id_acao']} |\n| Reprogramação  | @{outputs('reprogramacao')} |\n\nJustificativa: @{outputs('Get_item')?['body/justificativa']}","ApprovalCreationInput/requestor":"@{outputs('Get_item')?['body/solicitante_email']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true,"ApprovalCreationInput/attachments":"@variables('attachs')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Create_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"58d348c8-95eb-41e7-b0b4-6fa84112af65"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')","item/link_approval":"@outputs('Create_an_approval')?['body/respondLink']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Wait_for_an_approval":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"b773982f-e579-465d-8963-7912f7208967"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"parameters":{"approvalName":"@outputs('Create_an_approval')?['body/name']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Coments_Scope":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Wait_for_an_approval')?['body/responses']","actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"5322ac8d-4a14-4c39-9fc6-6d1f24ae231f"},"type":"AppendToStringVariable","inputs":{"name":"coments","value":"@items('Apply_to_each_2')?['comments']"}}},"runAfter":{},"metadata":{"operationMetadataId":"ca8700b6-371b-4b35-9c30-1c371431e351"},"type":"Foreach"}},"runAfter":{"Wait_for_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"cad84574-3ad0-43a4-8dfc-31913b343f5f"},"type":"Scope"}},"runAfter":{"Attach_Scope":["Succeeded"]},"metadata":{"operationMetadataId":"02c8f804-9c47-4348-9316-97db08df2c60"},"type":"Scope"},"Condition":{"actions":{"Condition_3":{"actions":{"Update_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"7eed6a6d-3da5-436f-8e51-7bc33db65f46"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')","item/status_oper":"Aprovado","item/status_ssma":"Em Andamento","item/coment_oper":"@variables('coments')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Post_message_in_a_chat_or_channel_3":{"runAfter":{"Update_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"e241f824-e755-446f-800a-8a3c9bd58d3b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{outputs('Update_item_2')?['body/solicitante_email']};","body/messageBody":"<p>Olá,<br>\n<br>\nA solicitação de Exceção enviada para o aprovador da Operação:@{outputs('Get_item')?['body/aprovador_oper/Email']}<br>\n<br>\nResposta: Exceção Aprovada no Nível de Operação.<br>\n<br>\nAbaixo comentário do aprovador:<br>\n@{variables('coments')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Aprov_SSMA":{"actions":{"Create_an_approval_2":{"runAfter":{},"metadata":{"operationMetadataId":"55056c71-5d1f-48f5-9195-0429270ab4d0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"- Fluxo de Exceção RAC - SSMA","ApprovalCreationInput/assignedTo":"@{outputs('Update_item_2')?['body/aprovador_ssma/Email']};","ApprovalCreationInput/details":"# Olá,\n## Prezado(a), está é uma solicitação de exceção de Fluxo de Rac.\n\n_Segue abaixo as informações necessárias para aprovação:_\n\n|  |  |\n| ------ | ------ |\n| Email Gerente Solicitante | @{outputs('Get_item')?['body/gerente_solicitante/Email']} |\n| RAC | @{outputs('Get_item')?['body/requisito_id_x003a_rac_id_pt/Value']} |\n| Item do Requisito | @{outputs('Get_item')?['body/requisito_id/Value']} |\n| Data de Validade da Exceção | @{outputs('Get_item')?['body/validade_excecao']} |\n| ID das Ações | @{outputs('Get_item')?['body/id_acao']} |\n| Reprogramação | @{outputs('reprogramacao')} |\n\nJustificativa do Solicitante: @{outputs('Get_item')?['body/justificativa']}\n\nAprovador da Operação: @{outputs('Update_item')?['body/aprovador_oper/Email']};\nComentário do Aprovador: @{variables('coments')}","ApprovalCreationInput/requestor":"@{outputs('Update_item_2')?['body/solicitante_email']};","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true,"ApprovalCreationInput/attachments":"@variables('attachs')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item_4":{"runAfter":{"Create_an_approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"58d348c8-95eb-41e7-b0b4-6fa84112af65"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')","item/link_approval_ssma":"@outputs('Create_an_approval_2')?['body/respondLink']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Wait_for_an_approval_2":{"runAfter":{"Update_item_4":["Succeeded"]},"metadata":{"operationMetadataId":"3358e9b2-342f-47a4-93b0-c73a2e8a4e17"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"WaitForAnApproval"},"parameters":{"approvalName":"@outputs('Create_an_approval_2')?['body/name']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Coments_Scope_2":{"actions":{"Apply_to_each_3":{"foreach":"@outputs('Wait_for_an_approval_2')?['body/responses']","actions":{"Append_to_string_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"5322ac8d-4a14-4c39-9fc6-6d1f24ae231f"},"type":"AppendToStringVariable","inputs":{"name":"comments_ssma","value":"@items('Apply_to_each_3')?['comments']"}}},"runAfter":{},"metadata":{"operationMetadataId":"ca8700b6-371b-4b35-9c30-1c371431e351"},"type":"Foreach"}},"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"cad84574-3ad0-43a4-8dfc-31913b343f5f"},"type":"Scope"},"Compose_3":{"runAfter":{"Wait_for_an_approval_2":["Succeeded"]},"metadata":{"operationMetadataId":"5a54eaa2-92d0-4320-9974-a2550fa5717c"},"type":"Compose","inputs":"@outputs('Wait_for_an_approval_2')?['body/responses']"}},"runAfter":{"Post_message_in_a_chat_or_channel_3":["Succeeded"]},"metadata":{"operationMetadataId":"a0418a19-0735-40db-9bf1-c3f367f74a42"},"type":"Scope"},"Condition_2":{"actions":{"Condition_4":{"actions":{"Update_item_6":{"runAfter":{},"metadata":{"operationMetadataId":"58d348c8-95eb-41e7-b0b4-6fa84112af65"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')","item/status_ssma":"Aprovado","item/status_final":"Aprovado","item/coment_ssma":"@variables('comments_ssma')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Post_message_in_a_chat_or_channel_4":{"runAfter":{"Update_item_6":["Succeeded"]},"metadata":{"operationMetadataId":"fee32087-1d5d-4750-abf1-66ae4ffe64e6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{outputs('Update_item_6')?['body/solicitante_email']};","body/messageBody":"<p>Olá,<br>\n<br>\nA solicitação de Exceção enviada para: @{outputs('Update_item_4')?['body/aprovador_ssma/Email']}<br>\n<br>\nResposta: Exceção Aprovada em Todos os Níveis<br>\n<br>\nAbaixo comentário do aprovador:<br>\n@{variables('comments_ssma')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Update_item_8":{"runAfter":{},"metadata":{"operationMetadataId":"caff8f89-444e-4b94-b5e2-3aa326bb1910"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')","item/status_ssma":"Cancelado","item/status_final":"Cancelado"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@outputs('Wait_for_an_approval_2')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"00efe61a-3d1e-4969-8dbe-4f21a906681c"},"type":"If"}},"runAfter":{"Compose_5":["Succeeded"]},"else":{"actions":{"Update_item_5":{"runAfter":{},"metadata":{"operationMetadataId":"ad04d146-80d6-4075-9a66-5072a7012d28"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@triggerBody()['text']","item/status_ssma":"Negado","item/status_final":"Negado","item/coment_ssma":"@variables('comments_ssma')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Post_message_in_a_chat_or_channel_2":{"runAfter":{"Update_item_5":["Succeeded"]},"metadata":{"operationMetadataId":"d3fd7f31-4ed0-4cdf-b7ea-7c8b32f8e3d0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{outputs('Update_item_5')?['body/solicitante_email']};","body/messageBody":"<p>Olá,<br>\n<br>\nA solicitação de Exceção enviada para: @{outputs('Update_item_4')?['body/aprovador_ssma/Email']}<br>\n<br>\nResposta: Exceção Negada.<br>\n<br>\nAbaixo comentário do aprovador:<br>\n@{variables('comments_ssma')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"not":{"contains":["@outputs('Wait_for_an_approval_2')?['body/responseSummary']","Reject"]}},"metadata":{"operationMetadataId":"35b2c65d-6c7b-4094-8fc7-ff81812539e0"},"type":"If"},"Compose_5":{"runAfter":{"Aprov_SSMA":["Succeeded"]},"metadata":{"operationMetadataId":"6fb440bc-caed-4272-9716-caa45986f1bb"},"type":"Compose","inputs":"@outputs('Wait_for_an_approval_2')?['body/outcome']"}},"runAfter":{},"else":{"actions":{"Update_item_7":{"runAfter":{},"metadata":{"operationMetadataId":"2f30fa1f-1ec3-450c-abcc-f38de29a6bee"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')","item/status_oper":"Cancelado","item/status_final":"Cancelado"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@outputs('Wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"6f2cbc87-6c7b-4055-88b4-2643a7acc0cb"},"type":"If"}},"runAfter":{"Aprovacao_Oper_Scope":["Succeeded"]},"else":{"actions":{"Update_item_3":{"runAfter":{},"metadata":{"operationMetadataId":"f9ac53dc-882d-4276-aa7c-38c2b3c46cbc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://globalvale.sharepoint.com/teams/SSMA_RECFerrosos","table":"f2667928-db17-45cd-8555-5215d4cbf61c","id":"@outputs('id_sp')","item/status_oper":"Negado","item/status_final":"Negado","item/link_approval":"@outputs('Create_an_approval')?['body/respondLink']","item/coment_oper":"@variables('coments')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Post_message_in_a_chat_or_channel":{"runAfter":{"Update_item_3":["Succeeded"]},"metadata":{"operationMetadataId":"0b4e42f1-6690-4a5d-b569-285efbbcddf1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{outputs('Update_item_3')?['body/solicitante_email']};","body/messageBody":"<p>Olá,<br>\n<br>\nA solicitação de Exceção enviada para o aprovador da Operação:@{outputs('Get_item')?['body/aprovador_oper/Email']}<br>\n<br>\nResposta: Exceção <b>Negada.</b><br>\n<br>\nAbaixo comentário do aprovador:<br>\n@{variables('coments')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"not":{"contains":["@outputs('Wait_for_an_approval')?['body/responseSummary']","Reject"]}},"metadata":{"operationMetadataId":"ef1cfcd9-21af-48c9-beb8-1e10ba1a8bff"},"type":"If"},"comentario":{"runAfter":{"attachs":["Succeeded"]},"metadata":{"operationMetadataId":"9bb385ff-ef4c-4414-986f-b9c80f523a88"},"type":"InitializeVariable","inputs":{"variables":[{"name":"coments","type":"string"}]}},"Initialize_variable":{"runAfter":{"comentario":["Succeeded"]},"metadata":{"operationMetadataId":"484a73d9-5a68-4e9a-9a17-9e3afc6e54f0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"comments_ssma","type":"string"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"b27d9766-d74f-42c7-aeee-a88d1e9a66d1"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"resposta":"1"},"schema":{"type":"object","properties":{"resposta":{"title":"resposta","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"e8d889652478499b86597f37ea4066fa","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-9550be51-f417-4889-ab14-89b08f77ecf7","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-ccd95fc5-2359-4e8c-b0af-dd5cc0c33887","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}