Microsoft.Flow/flows/2308bdc6-b93b-4e62-95c0-f4b09d1e9b3d/definition.json
{"name":"958a7c15-23e3-4619-96eb-2787f41f7da0","id":"/providers/Microsoft.Flow/flows/958a7c15-23e3-4619-96eb-2787f41f7da0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"get mdm info","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"ed8ae461-764d-4596-9a87-c901a9e45301","type":"User","tenantId":"7893571b-6c2c-4cef-b4da-7d4b266a0626"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-05-04T03:08:35.4712897Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"0d85d8aa-7733-42b8-a6e6-d00e4aba4215"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"email","type":"string","x-ms-dynamically-added":true,"description":"email_gerente","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"HTTP":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"689e96a0-46e4-4ee0-b9c4-c8e2674a39e0"},"type":"Http","inputs":{"method":"GET","uri":"https://mdm-prod-api.valedigital.io/mdm-api/mdm?","queries":{"workEmailAddress":"@{outputs('email')}"},"authentication":{"type":"Basic","username":"coviduser","password":"5C2BAB54-39E7-4245-A773-E14C37CCA0ED"}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"b88942ce-963d-4e8c-b337-dd2bf3983e57"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"array","items":{"type":"object","properties":{"FULL_NAME":{"type":"string"},"MDM_ID":{"type":"integer"},"CPF":{"type":"string"},"NETWORK_USER_IDENTIFIER":{"type":"string"},"IAM_ACCESS_IDENTIFIER":{"type":"string"},"SOURCE_SYSTEM_EMPLOYEE_IDEN":{"type":"string"},"WORK_EMAIL_ADDRESS":{"type":"string"},"COMPANY_CODE":{"type":"string"},"COMPANY_DESC":{"type":"string"},"ACTIVE_STATUS":{"type":"string"},"EMPLOYMENT_TYPE_DESC":{"type":"string"},"DEPARTMENT_NAME":{"type":"string"},"POSITION_NAME":{"type":"string"},"FACILITY_COUNTRY":{"type":"string"},"FACILITY_PROVINCE":{"type":"string"},"FACILITY_CITY":{"type":"string"},"FACILITY_DESCRIPTION":{"type":"string"},"JOB_FUNCTION":{"type":"string"},"JOB_TASK":{"type":"string"},"JOB_DESCRIPTION":{"type":"string"},"Hire_Date":{"type":"string"},"BIRTH_DATE":{"type":"string"},"ADM_MANAGER_EMPLOYEE_IDEN":{"type":"string"},"hier - 1":{"type":["string","null"]},"hier - 1 IAM_ID":{"type":["string","null"]},"hier - 1 WORK_EMAIL_ADDRESS":{"type":["string","null"]},"hier - 2":{"type":["string","null"]},"hier - 2 IAM_ID":{"type":["string","null"]},"hier - 2 WORK_EMAIL_ADDRESS":{"type":["string","null"]},"hier - 3":{"type":["string","null"]},"hier - 3 IAM_ID":{"type":["string","null"]},"hier - 3 WORK_EMAIL_ADDRESS":{"type":["string","null"]},"hier - 4":{"type":["string","null"]},"hier - 4 IAM_ID":{"type":["string","null"]},"hier - 4 WORK_EMAIL_ADDRESS":{"type":["string","null"]},"hier - 5":{"type":["string","null"]},"hier - 5 IAM_ID":{"type":["string","null"]},"hier - 5 WORK_EMAIL_ADDRESS":{"type":["string","null"]},"hier - 6":{"type":["string","null"]},"hier - 6 IAM_ID":{"type":["string","null"]},"hier - 6 WORK_EMAIL_ADDRESS":{"type":["string","null"]},"hier - 7":{},"hier - 7 IAM_ID":{},"hier - 7 WORK_EMAIL_ADDRESS":{},"hier - 8":{},"hier - 8 IAM_ID":{},"hier - 8 WORK_EMAIL_ADDRESS":{}},"required":["FULL_NAME","MDM_ID","CPF","NETWORK_USER_IDENTIFIER","IAM_ACCESS_IDENTIFIER","SOURCE_SYSTEM_EMPLOYEE_IDEN","WORK_EMAIL_ADDRESS","COMPANY_CODE","COMPANY_DESC","ACTIVE_STATUS","EMPLOYMENT_TYPE_DESC","DEPARTMENT_NAME","POSITION_NAME","FACILITY_COUNTRY","FACILITY_PROVINCE","FACILITY_CITY","FACILITY_DESCRIPTION","JOB_FUNCTION","JOB_TASK","JOB_DESCRIPTION","Hire_Date","BIRTH_DATE","ADM_MANAGER_EMPLOYEE_IDEN","hier - 1","hier - 1 IAM_ID","hier - 1 WORK_EMAIL_ADDRESS","hier - 2","hier - 2 IAM_ID","hier - 2 WORK_EMAIL_ADDRESS","hier - 3","hier - 3 IAM_ID","hier - 3 WORK_EMAIL_ADDRESS","hier - 4","hier - 4 IAM_ID","hier - 4 WORK_EMAIL_ADDRESS","hier - 5","hier - 5 IAM_ID","hier - 5 WORK_EMAIL_ADDRESS","hier - 6","hier - 6 IAM_ID","hier - 6 WORK_EMAIL_ADDRESS","hier - 7","hier - 7 IAM_ID","hier - 7 WORK_EMAIL_ADDRESS","hier - 8","hier - 8 IAM_ID","hier - 8 WORK_EMAIL_ADDRESS"]}}}},"Select_2":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"a722ed83-2d86-4d2f-bf57-bad5ff486b25"},"type":"Select","inputs":{"from":"@body('Parse_JSON')","select":{"nome":"@item()['FULL_NAME']","iam id":"@item()['IAM_ACCESS_IDENTIFIER']","email":"@item()['WORK_EMAIL_ADDRESS']","h2":"@item()['hier - 2']","h3":"@item()['hier - 3']","h4":"@item()['hier - 4']","h5":"@item()['hier - 5']","h6":"@item()['hier - 6']"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"e9c4aa9d-1823-47fe-afe7-e45eb5b136e7"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"hier":"@variables('hier')"},"schema":{"type":"object","properties":{"hier":{"title":"hier","x-ms-dynamically-added":true,"type":"string"}}}}},"Initialize_variable":{"runAfter":{"email":["Succeeded"]},"metadata":{"operationMetadataId":"d21046cd-6a21-49ad-9050-b1fc9d5e0bda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"h2","type":"string"}]}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Scope":{"actions":{"Append_to_string_variable_2":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"60b0476b-c3dc-417b-9267-87a2622f7644"},"type":"AppendToStringVariable","inputs":{"name":"h3","value":"@items('Apply_to_each')['hier - 3']"}},"Append_to_string_variable_3":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"a7aee9f1-243a-48c9-a3fe-1cb2a46097b1"},"type":"AppendToStringVariable","inputs":{"name":"h4","value":"@items('Apply_to_each')['hier - 4']"}},"Compose_2":{"runAfter":{},"metadata":{"operationMetadataId":"581aff37-f878-40b7-a15b-13552e949a78"},"type":"Compose","inputs":"teste"},"Append_to_string_variable":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"6dc39096-88b5-48f0-bf9b-72bb35d8ba2a"},"type":"AppendToStringVariable","inputs":{"name":"h2","value":"@items('Apply_to_each')['hier - 2']"}},"Append_to_string_variable_4":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"4c98eb8b-a900-4e16-bc45-8b1df8485104"},"type":"AppendToStringVariable","inputs":{"name":"h5","value":"@items('Apply_to_each')['hier - 5']"}},"Append_to_string_variable_5":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"71fca02f-15bf-4084-838d-848723842aad"},"type":"AppendToStringVariable","inputs":{"name":"h6","value":"@items('Apply_to_each')['hier - 6']"}},"h2":{"runAfter":{"Condition_3":["Succeeded"]},"metadata":{"operationMetadataId":"61be4041-4396-4ae4-b911-f2ec9fe81df9"},"type":"Compose","inputs":"@substring(variables('h2'), 0, lastIndexOf(variables('h2'), ' -'))"},"Condition":{"actions":{},"runAfter":{"Append_to_string_variable_3":["Succeeded"]},"else":{"actions":{"h4":{"runAfter":{},"metadata":{"operationMetadataId":"dcbc5a12-90b5-47a4-a7cf-7f0a0313064c"},"type":"Compose","inputs":"@substring(variables('h4'), 0, lastIndexOf(variables('h4'), ' -'))"}}},"expression":{"equals":["@length(variables('h4'))",0]},"metadata":{"operationMetadataId":"c8348059-25cd-416a-b626-9ed09446a1dd"},"type":"If"},"Condition_2":{"actions":{},"runAfter":{"Append_to_string_variable_2":["Succeeded"]},"else":{"actions":{"h3":{"runAfter":{},"metadata":{"operationMetadataId":"07f3a9ec-2e77-4221-bd44-eec91462f845"},"type":"Compose","inputs":"@substring(variables('h3'), 0, lastIndexOf(variables('h3'), ' -'))"}}},"expression":{"equals":["@length(variables('h3'))",0]},"metadata":{"operationMetadataId":"d253b8f2-45cb-4c9b-a5a2-b3b5d086e0b2"},"type":"If"},"Condition_3":{"actions":{},"runAfter":{"Append_to_string_variable":["Succeeded"]},"expression":{"equals":["@length(variables('h2'))",0]},"metadata":{"operationMetadataId":"db650064-f770-43ba-973b-f97e13a876a5"},"type":"If"},"Condition_4":{"actions":{},"runAfter":{"Append_to_string_variable_4":["Succeeded"]},"else":{"actions":{"h5":{"runAfter":{},"metadata":{"operationMetadataId":"b82d9969-50b2-46b6-94b5-86d838e7e964"},"type":"Compose","inputs":"@substring(variables('h5'), 0, lastIndexOf(variables('h5'), ' -'))"}}},"expression":{"equals":["@length(variables('h5'))",0]},"metadata":{"operationMetadataId":"0322e45d-71ca-4ec4-9a56-2aba743fa49e"},"type":"If"},"Condition_5":{"actions":{},"runAfter":{"Append_to_string_variable_5":["Succeeded"]},"else":{"actions":{"h6":{"runAfter":{},"metadata":{"operationMetadataId":"1050cca9-95a2-48c6-985b-15d9bf455ad0"},"type":"Compose","inputs":"@substring(variables('h6'), 0, lastIndexOf(variables('h6'), ' -'))"}}},"expression":{"equals":["@length(variables('h6'))",0]},"metadata":{"operationMetadataId":"e81b0f93-1f25-41b9-bee1-63c2bd145c7f"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"de20996e-ceb7-4fc9-8da6-4846f30f02a3"},"type":"Scope"},"Append_to_string_variable_6":{"runAfter":{"Scope":["Succeeded"]},"metadata":{"operationMetadataId":"f1a4e170-c127-40af-9ab4-309b2bac2860"},"type":"AppendToStringVariable","inputs":{"name":"hier","value":"@{outputs('h2')}_@{outputs('h3')}_@{outputs('h4')}_@{outputs('h5')}_@{outputs('h6')}"}}},"runAfter":{"Select_2":["Succeeded"]},"metadata":{"operationMetadataId":"bc4c4485-554b-47f8-9bfe-4ec11e594b6d"},"type":"Foreach"},"email":{"runAfter":{},"metadata":{"operationMetadataId":"c835521d-5d3a-48d2-a56b-563cf5e29c3e"},"type":"Compose","inputs":"@triggerBody()['text']"},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"d21046cd-6a21-49ad-9050-b1fc9d5e0bda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"h3","type":"string"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"d21046cd-6a21-49ad-9050-b1fc9d5e0bda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"h4","type":"string"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"d21046cd-6a21-49ad-9050-b1fc9d5e0bda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"h5","type":"string"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"d21046cd-6a21-49ad-9050-b1fc9d5e0bda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"h6","type":"string"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"a7532544-a1ae-410e-a4ec-b1f6f9878453"},"type":"InitializeVariable","inputs":{"variables":[{"name":"hier","type":"string"}]}}},"outputs":{}},"connectionReferences":{},"flowFailureAlertSubscribed":false,"isManaged":false}}